@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@layer theme, base, components, utilities;
@import "../theme/theme.css" layer(theme);

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* @theme {
  --font-*: initial;
  --font-primary: "Mona Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", "Helvetica", "Lucida Grande", "sans-serif";
  --font-body: 16px;
  --color-background: #f2f1f6;
  --color-primary: #636edf;
  --color-gradient-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --color-gradient-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --color-gradient-midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
} */

/* global utilities */

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-blue-500 to-purple-500;
  }
  .section-title {
    @apply font-medium text-[40px] leading-[45px] 
           md:text-[52px] md:leading-[60px] 
           lg:text-[56px] lg:leading-[65px] 
           xl:text-[80px] xl:leading-[80px] 
           2xl:text-[80px] 2xl:leading-[85px] 
           text-black;
  }
  .section-description {
    @apply font-normal text-[18px] leading-[26px] 
           md:text-[20px] md:leading-[30px] 
           lg:text-[20px] lg:leading-[32px] 
           xl:text-[20px] xl:leading-[34px] 
           2xl:text-[20px] 2xl:leading-[36px] 
           text-gray-600;
  }

  .bg-gradient-spectrum {
    background-image: var(--color-gradient-spectrum);
  }
  .bg-gradient-purple {
    background-image: var(--color-gradient-purple);
  }
  .bg-gradient-midnight {
    background-image: var(--color-gradient-midnight);
  }
}

body {
  font-size: var(--font-body);
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  background-color: var(--color-background);
}

.max-width {
  max-width: 1280px;
  margin: auto;
}

.footer-text {
  @apply text-[20px] md:text-[24px] font-semibold;
}
