@theme {
  --font-*: initial;
  --font-primary: "Mona Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", "Helvetica", "Lucida Grande", "sans-serif";
  --font-body: 16px;
  --color-background: #f9f9f9;
  --color-primary: #636edf;
  --color-gradient-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --color-gradient-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --color-gradient-midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
}
